<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<style type="text/css">
		.centered {
			text-align:center;
		}
		body {
			font-size: large;
		}
		form div {
			padding: 1em 1em 1em 1em;
		}
		label {
			display: block;
		}
		select {
			width: 10em; 
			font-size: x-large;
		}
		button {
			font-size: x-large;
		}
	</style>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Sign-in</title>
</head>
<body>

<form id="oauth-form" action="/oauth/redirect">
	<div class="centered">
		<label>username:</label>
		<select name="username" autofocus="autofocus">
			<option value="alice">alice</option>
			<option value="bob">bob</option>
			<option value="carol">carol</option>
			<option value="dylan">dylan</option>
			<option value="elton">elton</option>
		</select>
	</div>
	<div class="centered">
		<button class="button is-medium" type="submit">Sign-in</button>
	</div>
	
	<div>
		<b>redirect_uri:</b> <span th:text="${redirect_uri}"></span>
		<input name="redirect_uri" type="hidden" th:value="${redirect_uri}">
	</div>
	<div>
		<b>state:</b> <span th:text="${state}"></span>
		<input name="state" type="hidden" th:value="${state}">
	</div>

	<input class="input is-medium" id="password" name="password" type="hidden">
</form>

</body>
</html>
