<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<style type="text/css">
		.centered {
			text-align:center;
		}
		form div {
			padding: 1em 1em 1em 1em;
		}
	</style>
	<script type="text/javascript">
		var lastKeyPress = new Date().getTime();
		function autoUsername(username) {
			var u = username.toLowerCase().trim();
			if ((new Date().getTime() - lastKeyPress) > 300 && u.length == 1) {
				if (u.startsWith('a')) {
					u = 'alice';
				}
				if (u.startsWith('b')) {
					u = 'bob';
				}
				if (u.startsWith('c')) {
					u = 'carol';
				}
				if (u.startsWith('d')) {
					u = 'dylan';
				}
				if (u.startsWith('e')) {
					u = 'elton';
				}
				document.getElementById('username').value = u;
			}
			lastKeyPress = new Date().getTime();
		}
	</script>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="bulma.css">
	<title>Sign-in</title>
</head>
<body>

<form action="/oauth/redirect">
	<div class="centered">
		<label>username:</label>
		<input class="input is-medium" id="username" name="username" type="text" value="alice" onkeyup="autoUsername(this.value)">
	</div>
	<div class="centered">
		<label>password:</label>
		<input class="input is-medium" id="password" name="password" type="password">
	</div>
	<div class="centered">
		<button class="button is-medium" type="submit">Sign-in</button>
	</div>
	
	<div style="padding-top:0.5em">
		Valid <i>usernames</i> (password is irrelevant):
		alice<br>
		bob<br>
		carol<br>
		dylan<br>
		elton<br>
	</div>
	
	<div>
		<b>redirect_uri:</b> <span th:text="${redirect_uri}"></span>
		<input name="redirect_uri" type="hidden" th:value="${redirect_uri}">
	</div>
	<div>
		<b>state:</b> <span th:text="${state}"></span>
		<input name="state" type="hidden" th:value="${state}">
	</div>
</form>


</body>
</html>
